div.changelog {
    margin-bottom: 2em;
    max-width: var(--pageWidth);
    width: 100%;
    background-color: var(--mainColorLightDark);
}

div.list {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

div.list > details {
    background-color: var(--mainColorDark);
    max-width: 1000px;
    border-radius: var(--boxRoundness);
    line-height: 1.4;
}

div.list > details div {
    padding: 1em;
    border-top: 2px solid var(--mainColorDesignTrans);
    color: var(--mainColorLightGreyText);
}

div.list > details div ul {
    line-height: 1.4;
}

div.list > details div ul li::marker {
    color: var(--mainColorDesign);
}


div.list > details[open] summary img[alt="expand"] { transform: rotate(-180deg);}

div.list > details summary {
    user-select: none;
    cursor: pointer;
    padding: 1em;
    display: grid;
    gap: 0.75em;
    grid-template-columns: max-content auto auto max-content;
    align-items: center;
}