div.prompt-dialog {
    display: none;
    position: fixed;
    z-index: 99999999;
    flex-direction: column;
    color: black;
    background-color: white;
    border-radius: 8px;
    padding: 0em;
    max-height: calc(100% - 2em);
    overflow-y: auto;
    width: calc(100% - 2em);
    overflow: hidden;
    max-width: 400px;
    top: 1em;
    left: 50%; transform: translateX(-50%);
    filter: drop-shadow(0 0 5rem #222);
}

div.prompt-dialog.activated {
    display: flex;
}

div.prompt-dialog div.info div.title {
    display: flex;
    gap: 0.5em;
    align-items: center;
    padding: 0.5em 1em;
    background-color: #ddd;
    font-size: small
}

div.prompt-dialog div.info div.text {
    padding: 1em;
}

div.prompt-dialog div.info div.text span {
    color: #444;
    font-size: smaller;
}

div.prompt-dialog div.info div.input-box {
    padding: 0em 1em;
}

div.prompt-dialog div.info div.input-box label {
    font-size: small; 
    padding: 0.66em 0.25em;
    display: inline-block;
}

div.prompt-dialog div.info div.input-box label::before {
    content: "#";
    color: blue;
    margin-right: .5em;
}

div.prompt-dialog div.info div.input-box input {
    display: block;
    padding: 1em;
    border: #ddd 1px solid;
    color: var(--mainColorDark);
    background-color: #eee;
    width: 100%;
    border-radius: 8px;
    font-family: inherit;
    transition: outline 0.075s ease-in-out;
    outline: 0px rgba(0, 0, 255, 0.1) solid;
}

div.prompt-dialog div.info div.input-box input:focus-visible {
    outline-width: 2px;
}

div.prompt-dialog div.info div.input-box input#col {
    font-family: monospace;
    height: 42px;
    padding: 6px;
    cursor: pointer;
    background: url(/img/icon/000/palette.svg) no-repeat scroll 9px 8px;
    background-size: 24px;
    padding-left: 42px;
}

div.prompt-dialog div.action {
    --gapVal: 0.25em;
    display: grid;
    padding: 1em;
    grid-template-columns: calc(50% - var(--gapVal)) calc(50% - var(--gapVal));
    overflow: hidden;
    gap: calc(var(--gapVal) * 2);
    width: 100%;
}

div.prompt-dialog div.action button {
    padding: 1em;
    background-color: rgb(11, 125, 255);
    color: white;
    border-radius: 8px;
    font-family: inherit;
    border: none;
    cursor: pointer;
    transition: outline 0.075s ease-in-out;
    outline: 0px rgba(11, 125, 255, 0.4) solid;
}

div.prompt-dialog div.action :nth-child(2) {
    background-color: rgb(255, 11, 11);
    outline-color: rgba(255, 11, 11, 0.4);
}

div.prompt-dialog div.action :is(button:hover, button:focus-visible) {
    outline-width: 3px;
}

/* color */
::-webkit-color-swatch-wrapper {
    padding: 0;
}
  
::-webkit-color-swatch {
    border: 0;
    border-radius: 0px;
    border-radius: var(--boxRoundness);
}
  
::-moz-color-swatch, ::-moz-focus-inner {
    border: 0;
    border-radius: var(--boxRoundness);
}
  
::-moz-focus-inner{
    padding: 0;
}