html { scroll-behavior: smooth; overflow-y: scroll; }
html.mm-is-open { overflow-y: hidden; }
body { 
    margin: 0; 
    overflow-x: hidden;
}
* { box-sizing: border-box; }

:root {
    --pageWidth: 1100px;
    --mainColor: #f08080;
    --mainColorTrans: #f0808044;
    --mainColorLight: #ffc3c3;
    --topSecondaryColor: #241c1c;
    --linkUnderlineColor: #dc143c;
}

/* Top */
div.top {
    background-image: url("../img/unsplash_delete_layer2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;

    clip-path: polygon(50% 0%, 100% 0, 100% 35%, 100% 96%, 76% 95%, 50% 100%, 19% 98%, 0 94%, 0% 35%, 0 0);

    display: flex;
    flex-direction: column;
    align-items: center;

    color: white;
}

div.top.secondary {
    background: none; 
    background-color: var(--topSecondaryColor);
    min-height: 30vh;
}

div.top.secondary > :last-child > span {
    font-size: 48px;
    margin-block-end: 1em;
}

div.top > * {
    padding: 28px;
    max-width: var(--pageWidth);
    width: 100%;
}

div.top > :last-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    filter: drop-shadow(0 0 4rem var(--mainColor));
    gap: 2em;
    flex-grow: 2;
}

div.top > :last-child > span {
    font-size: 56px;
    font-weight: bolder;
    font-family: "Arial";
    max-width: 700px;
    color: #fff;
}

div.top > :last-child .button {
    align-self: flex-start;
    padding: 14px 28px;

    color: black;
    font-family: "Calibri";
    font-weight: bold;
    font-size: large;
    text-decoration: none;

    background-color: white;
    border-radius: 1000px;

    overflow: hidden;
    position: relative; 
}

div.top > :last-child .button > span {
    position: relative;
    z-index: 1;
}

div.top > :last-child .button::after {
    position: absolute;
    content: "";
    width: 0%; height: 100%;
    background-color: var(--mainColorLight); /* #ffc3c3 */
    top: 0px;
    right: 0px;
    transition: width 0.3s cubic-bezier(0.42, 0, 0.58, 1);
}

div.top > :last-child :is(.button:hover, .button:focus-visible)::after {
    width: 100%;
    left: 0px;
}

div.top > header {
    display: grid;
    grid-template-columns: max-content auto;
    align-items: center;
    gap: 2em;
    font-family: "Calibri";
}

div.top > header nav {
    justify-self: end;
    display: flex;
    gap: 0.5em;
}

div.top > header nav a {
    color: white;
    text-decoration: none;
    padding: 0.25em 0.66em;
    border-radius: 1000px;

    transition: background-color 0.125s ease-in-out;
}

div.top > header nav :is(a:hover, a:focus-visible) {
    background-color: var(--mainColorTrans);
}

div.top > header nav a.active {
    color: black;
    background-color: white;
}

div.top > header > button.mm-open {
    background-color: transparent;
    display: none;
    padding: 0px;
    border: none;
    justify-content: center;
    justify-self: end;
    align-items: center;
}

div.top > header > button.mm-open img {
    width: 32px;
}

div.top > header > div.logo > a {
    display: flex;
}

/* Section */
section {
    max-width: var(--pageWidth);
    margin: auto;
    padding: 56px 28px;
    font-family: "Calibri";
}

section h1 {
    font-weight: 900;
    font-family: Arial;
    text-transform: uppercase;
    padding-left: 12px;
    border-left: solid var(--mainColor) 6px;
}

section p {
    line-height: 1.4;
}

section a {
    text-decoration: var(--mainColor) underline 2px;
    color: black;
}

section a:hover {
    text-decoration-color: var(--linkUnderlineColor);
}

@media (max-width: 500px) {
    :is(div.top, div.top.secondary) > :last-child > span {
        font-size: 38px;
    }

    div.top > header > button.mm-open {
        display: flex;
    }

    div.top > header > nav {
        display: none;
    }
}

/* Accordion */
div.accordion {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    /* margin-bottom: 1em; */
}

div.accordion > div.accordion-item {
    border: 1px solid var(--mainColor);
}

div.accordion > div.accordion-item > * {
    padding: 14px;
}

div.accordion > div.accordion-item > div.accordion-top {
    background-color: var(--mainColorTrans);
    cursor: pointer;
}

div.accordion > div.accordion-item > div.content {
    border-top: 1px solid var(--mainColor);
    background-color: white;
    display: none;
    max-height: 500px;
    overflow-y: auto;
    position: relative;
    line-height: 1.4;
}
