/* 
    MOBILE MENU SIMPLE
    VERSION 1
*/

div.mm {
    display: flex;
    flex-direction: column;

    position: fixed;
    width: 100vw;
    max-width: 400px;
    height: 100vh;
    z-index: 999;
    border-right: 1px solid #ccc;
    background-color: #fff;
    font-family: 'Calibri';

    overflow: hidden;

    transform: translateX(-100%);
    transition: 0.25s transform cubic-bezier(0.42, 0, 0.58, 1);
}

div.mm.mm-is-open {
    transform: translateX(0%);
}

div.mm > div.mm-top {
    display: grid;
    grid-template-columns: auto max-content;
    padding: 28px;
    background-color: #eee;
}

div.mm > div.mm-top * {
    filter: brightness(0)
}

div.mm > div.mm-top button {
    display: flex;
    border: none;
    background-color: transparent;
    justify-content: center;
    cursor: pointer;
    width: 32px;
}

div.mm > div.mm-nav {
    flex: 1;
    padding: 24px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    gap: 1.5em;
}

div.mm > div.mm-nav a {
    display: block;
    color: black;
    font-size: larger;
    text-decoration: none;
}

div.mm > div.mm-nav a.active {
    font-weight: bold;
    padding-left: 8px;
    border-left: var(--mainColor) 4px solid;
}